<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
   <div class="Section_top">
       <div class="content">
           <h1>The <span>New Age</span></h1>
           <a href="{{ url_for('signin') }}">Welcome</a>
       </div>
       <div class="content2">
        <h2>contact: +91 7003280318</h2>
       </div>
       <div class="content3">
        <h2>email: aaronanishdas@gmail.com</h2>
       </div>
   </div>
</body>

</html>